@media only screen and (max-width: 600px) {
    /* 这里是手机和小屏幕设备的样式 */
}

body {
    background-color: #1b1b1b; 
    color: white;
    font-family: 'Roboto', sans-serif; /* 使用Roboto字体 */
    margin: 0;
    padding: 0;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
    overflow-x: hidden; /* 防止横向滚动 */
    zoom: 1。5;  /* 125% of the original size */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* 使用Montserrat字体 */
    font-weight: 500; 
}

h1 {
    font-weight: 700; /* 使h1标签更加粗一些 */
    font-size: 36px;
    margin-bottom: 20px; 
}

header {
    background-color: #333;
    padding: 20px 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

nav {
    text-align: center;
    transition: all 0.3s; 
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    padding: 5px 0; 
    transition: all 0.3s; 
}

nav a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFD700; /* 将字体颜色更改为金色 */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
    background-color: #282828; 
    border-radius: 5px; 
    margin-top: 30px; 
}

p {
    font-size: 18px;
}

.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text-content {
    flex: 3; 
    padding-right: 20px; 
    line-height: 2;
}

.text-content h2,
.text-content p {
    margin-bottom: 10px; 
}

.text-content p {
    font-size: 16px; 
    line-height: 1.5; 
}

.image-content {
    flex: 1; 
}

.image-content img {
    max-width: 100%;  /* 修改为100% */
    height: auto; 
}

.arrow-button {
    background: none;
    border: none;
    font-size: 36px; 
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: pink; 
}

.left-arrow {
    left: 10px; 
}

.right-arrow {
    right: 10px; 
}

.social-icons a i {
    font-size: 24px; 
    margin: 0 10px; 
}

.social-icons a i:hover {
    color: #FFD700; /* 将图标颜色更改为金色 */
    transform: scale(1.1); /* 放大图标到原始尺寸的110% */
    transition: color 0.3s ease, transform 0.3s ease; /* 平滑的颜色和放大过渡 */
}

.resume-button {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px; 
}

.resume-button:hover {
    background-color: #bbb;
    transform: scale(1.05); /* 放大按钮到原始尺寸的105% */
    transition: transform 0.3s ease; /* 平滑的放大过渡 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#experience .experience-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#experience .left-column {
    flex: 1;
}

#experience .right-column {
    /* background-color: #383838; 背景颜色 */
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);  添加稍微的阴影效果 */
    /* ...（保持其他样式不变） */
}

#experience .resume-item h2 {
    color: #009966; /* 金色标题 */
    font-weight: 700;
    margin-top: 15px;
}

#experience .resume-item h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

#experience .resume-item h4 {
    font-weight: 400;
    margin-top: 8px;
    color: #aaa; /* 稍微淡一些的颜色 */
}

#experience .resume-item ul {
    margin-top: 20px;
    line-height: 2;
}

#experience .left-column img {
    max-width: 100%; 
    height: auto; 
}

i {
    margin-right: 10px; /* 添加一些右侧间距 */
    color:#708090; /* 设置图标颜色 */
    font-size: 20px; /* 调整图标大小 */
}

